.userBox{
    height:10%;
    width: 90%;
    background-color: #F1A532;
    margin: 4%;
    box-shadow: -4px 4px 8px 0px #5f4d4d;
    border-radius: 0.5vmax;
}

.userBox>h2{
    color: #000;
    padding:7%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}